@import "@solana/wallet-adapter-react-ui/styles.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, monospace;
  background-color: #0e0e23;
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #1a1a3e;
}
::-webkit-scrollbar-thumb {
  background: #9945ff;
  border-radius: 3px;
}
